/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* { box-sizing: border-box; }

 * {
  margin: 0;
}

html, body {
  height: 100%;
}



#nav-ul {
  float:right;
  margin-left:0px;
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
  float: left;
  margin-top:5%;
  padding-left:15px;
  font-size: 1.2em;

}

.nav-links a:visited {
  color: #ffffff;

}

.nav-links a {
  color: #ffffff;

}

.navbar-brand { 
  padding:0px;

}
.navbar-brand a {
  color:#ffffff;
}
.nav-image {
  width: 8%;
  margin-top: 0.5%;
  margin-left: 3%;

}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
}

.footer {
  margin-bottom: 0;
}
footer {
  background-color: black;
  height: 65px;
  clear: both;
  position: relative;

}
footer p {
  padding-top: 20px;
  padding-left: 20px;
  color: #ffffff;
  margin: 0;
  display: inline-block;
}

footer ul  {
  float: right;
  margin-bottom: 0px;
  display: inline-block;

  
  
}


footer ul li {
  float: left;
  text-decoration: none;
  display: inline-block;
  padding-top: 20px;
  padding-right: 10px;
  color: #ffffff;
}
