// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-override-white a:visited {
  color: #ffffff;
}


.product-image {
	width: 200px;
    height: 100px;

}

.border-product {
	border: 4px solid black;
	

}

.margin-top {
	margin-top: 5px;
}


.heading-family {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.price-rating-color {

    p {
      margin-top: 5%;
      font-size: 2.1em;
      color:red;
    }

    .price-font {
      color: black;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }

    ul {
	  margin-top: 8%;
      padding:0;
      }

    .fixed-font {
      font-size: 1em;
    }

    .fixed-padding {
      padding-left: 5%;
    }

    li {
      display: inline;
      
    }
}

.hr-edit {

    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 

}

.background {
	background-color: #eeeeee;
	border-radius: 2%;
	border-style: solid;
    border-color: #BBBBBB;

	p {
	  padding: 5px;


	}

}

// temporary height
.comments {

}

.rated {
	display: inline;
}

